@tailwind base;
@tailwind components;
@tailwind utilities;

.word {
  display: inline-flex;
  cursor: pointer;
  align-items: baseline;
}

.word:hover {
  box-shadow: 0 0 0 1px #aaaaaa;
  border-radius: 5px;
}

.selected {
  box-shadow: 0 0 0 1px #444444;
  border-radius: 5px;
}

.highlight {
}

.section {
  width: 50%;
  border: 1px red solid;
  margin: 10px 0;
}

.dict-height {
  height: calc(100vh - 50px);
}
